{% extends "novedad/novedadBase.html" %}

{% block main %}
    


    <div class="container">
            <div class="row">
                <div class="col-md-20">
                    <div class="panel panel-primary" >
                        <div class="panel-heading">
                                <a class="btn btn-link" href="{{url_for('novedad_new')}}">Cargar Novedad</a>
                                <!--{% if adm %}
                                    
                                {% else%}

                                {% endif %} -->
                                
                                
                            <br>
                            <br>
                                
                        </div>
                        
                        <br>
                    </div>
                </div>
            </div>
            </div>
                
    
{% endblock %}