{% extends "user/userBase.html" %}

{% block title %}

    <title>Nueva Novedad</title>

{% endblock %}

{% block navbar %}
    <header class="masthead mb-auto">
        <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/usuarios">Cancelar</a>
            </nav>
        </div>
    </header>

{% endblock %}

{% block main %}

    <h4 class="card-title mt-3 text-center">Ingrese sus datos</h4>
                <p class="text-center">Bookflix</p>
                <p class="divider-text">
                </p>
                <form action="{{ url_for('novedad_create') }}" method="POST">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input required name="titulo" class="form-control" placeholder="Titulo de Novedad" type="text">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <textarea required name="descripcion" class="form-control" placeholder="descripcion de Novedad" ></textarea>                                
                    </div> <!-- form-group// -->
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-light btn-block"> Crear Novedad  </button>
                    </div> <!-- form-group// -->
                </form>

{% endblock %}
