{% extends "/instrumento/index.html" %}

{% block title %}

    <title>Editar instrumento</title>

{% endblock %}


{% block navbar %}
    <header class="masthead mb-auto">
        <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/instrumentos">Cancelar</a>
            </nav>
        </div>
    </header>

{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
             <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Editar instrumento</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-md-20 col-lg-20 ">
                                <div style="overflow-x:auto;">
                                    <form action="{{ url_for('instrumento_submitEdit', id = instrumento.id) }}" method="POST" enctype="multipart/form-data">
                                    <table class="table table-user-information">
                                            <tbody>
                                                         <tr>
                                                           <td>Numero de identificador:</td>
                                                           <td><input required name="id" type="number" value="{{instrumento.id}}" placeholder="{{instrumento.id}}"></td>
                                                       </tr>
                                                        <tr>
                                                            <td>Nombre del instrumento</td>
                                                            <td><input required name="nombre" value="{{instrumento.nombre}}" placeholder="{{instrumento.name}}"></td>
                                                        </tr>
                                                        <tr>
                                                            
                                                            <td>Imagen: <img src="../../static/uploads/{{instrumento.imagen}}" alt="{{instrumento.nombre}}" height="42" width="42"></td>
                                                            <td><input name="imagen" class="form-control" type="file"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Tipo de instrumento:</td>
                                                            <td><select name="tipo_instrumento" class="form-control">
                                                                {% for tipo_instrumento in tipos_instrumentos -%}
                                                                <option class ="form-control" value="{{tipo_instrumento.id}}">{{tipo_instrumento.nombre}}</option>
                                                                {%- endfor %}
                                                            </select></td>
                                                        </tr>
                                                        <tr>
                                                            <td> </td>
                                                            <td><input type="submit" value="Editar"></td>
                                                        </tr>
                                                </tbody>                           </table>
                                                </form>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

{% endblock %}