{% extends "instrumento/homeInstrumento.html" %}
    {% block title %}
        <title>Instrumentos</title>
    {% endblock %}
    {% block navbar %}
        <header class="masthead mb-auto">
        <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/usuarios">Usuarios</a>
                <a class="nav-link" href="/docentes">Docentes</a>
                <a class="nav-link" href="/estudiantes">Estudiantes</a>
                <a class="nav-link" href="/asistencia">Asistencia</a>
                <a class="nav-link active" href="/instrumentos">Instrumentos</a>
                <a class="nav-link" href="/administracion">Talleres</a>
                <a class="nav-link" href="/administracionCiclos">Ciclos</a>
                {% if adm %}
                    <a class="nav-link" href="/configuracion">Configuracion</a>
                {% endif %}
                <a class="nav-link" href="/cerrar_sesion">Cerrar Sesion</a>
            </nav>
        </div>
    </header>
    {% endblock %}
    {% block alert %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <br>
                <ul class=flashes>
                    <div class="alert alert-primary" role="alert">{{ messages[-1] }}</div>
                </ul>
            {% endif %}
        {% endwith %}
    {% endblock %}
    <main class="inner cover">
        {% block main %}
        {% if permit %}

        <div class="container">
        <div class="row">
            <div class="col-md-20">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a class="btn btn-link" href="{{ url_for('instrumento_new') }}">Nuevo Instrumento</a>
                        <br>
                        <br>
                            <h3 class="panel-title">Instrumentos</h3>
                    </div>
                    <table class="table table-hover" id="dev-table">
                        <thead>
                        <tr>
                            <th>       </th>
                            <th>Identificador</th>
                            <th>Nombre</th>
                            <th>Tipo instrumento</th>
                            <th>                     </th>
                            <th>                    </th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for instrumento in instrumentos[i*pag:(i+1)*pag] %}
                        <tr>
                            <td> <img src="../../static/uploads/{{instrumento.imagen}}" alt="{{instrumento.nombre}}" height="42" width="42"> </td>
                            <td>{{ instrumento.id}}</td>
                            <td>{{ instrumento.nombre}}</td>
                            <td>{{ instrumento.tipo_instrumento_nombre}}</td>
                            <td><a href ="{{ url_for('instrumento_edit', id = instrumento.id)}}">Editar</a></td>
                            {% if instrumento.activo %}
                                <td><a href ="{{ url_for('instrumento_delete', id = instrumento.id)}}">Eliminar</a></td>
                            {% else %}
                                <td><a href ="{{ url_for('instrumento_active', id = instrumento.id)}}">Habilitar</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                    <br>
                </div>
            </div>
        </div>
        </div>
            <div class="center">
                        <div class="wrapper">
                                <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="{{ url_for('instrumento_index', i=i-1 )}}">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="{{ url_for('instrumento_index', i=i+1 )}}">Next</a></li>
                                </ul>
                        </div></div>

        {% endif %}
        {% endblock %}
    </main>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            {% block footer %}
                <p>Proyecto de Software 2019 - Grupo 34</p>
                <p>{{mail}}</p>
            {% endblock %}
        </div>
    </footer>
</div>
</body>
</html>
