{% extends "books/bookBase.html"%}

{% block title %}
    <title>Nuevo Libro</title>
{% endblock %}

{% block navbar %}
    <header class="masthead mb-auto">
        <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/usuarios">Usuarios</a>
                <a class="nav-link active" href="/usuarios/mostrar/{{user_id}}">Ver mi perfil</a>
                {% if adm %}
                <a class="nav-link" href="/configuracion">Configuracion</a>
                {% endif %}
                <a class="nav-link" href="/cerrar_sesion">Cerrar Sesion</a>
            </nav>
        </div>
    </header>

{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
             <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Editar metadato</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-md-20 col-lg-20 ">
                                <div style="overflow-x:auto;">                                    
                                    <table class="table table-user-information">
                                        <tbody>
                                        <form action="{{ url_for('book_load_meta_edit', isbn=isbn) }}" method="POST">                                            
                                            <tr>
                                                <td>Titulo:</td>
                                                <td>{{book.titulo}}</td>
                                                <td><input required type="text" name="titulo"></td>
                                            </tr>
                                            <tr>
                                                <td>Autor/es:</td>
                                                <td>{{book.autor}}</td>
                                                <td>
                                                    <input required type="text" name="autor" list="autores">
                                                    <datalist id="autores">
                                                        {% for autor in autores %}
                                                            <option value="{{autor['nombre']}}">{{autor['nombre']}}</option>
                                                        {% endfor %}
                                                    </datalist>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Sinopsis:</td>
                                                <td>{{book.sinopsis}}</td>
                                                <td><textarea required type="text" name="sinopsis"></textarea></td>
                                            </tr>
                                            <tr>
                                                <td>Editorial:</td>
                                                <td>{{book.editorial}}</td>
                                                <td>
                                                    <input required type="text" name="editorial" list="editoriales">
                                                    <datalist id="editoriales">
                                                        {% for editorial in editoriales %}
                                                            <option value="{{editorial['nombre']}}">{{editorial['nombre']}}</option>
                                                        {% endfor %}
                                                    </datalist>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Genero:</td>
                                                <td>{{book.genero}}</td>
                                                <td>
                                                    <input required type="text" name="genero" list="generos">
                                                    <datalist id="generos">
                                                        {% for genero in generos %}
                                                            <option value="{{genero['nombre']}}">{{genero['nombre']}}</option>
                                                        {% endfor %}
                                                    </datalist>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td><input required type="submit" value="Editar">
                                                    <a href="/libros">Cancelar</a>
                                                </td>
                                            </tr>
                                        </form>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

{% endblock %}