{% extends "books/bookBase.html" %}

{% block main %}
    


    <div class="container">
            <div class="row">
                <div class="col-md-20">
                    <div class="panel panel-primary" >
                        <div class="panel-heading">
                                {% if adm %}
                                <a class="btn btn-link" href="{{url_for('book_meta')}}">Cargar Metadatos</a>                                
                                <a class="btn btn-link" href="{{url_for('author_new')}}">Cargar Autor</a>
                                <a class="btn btn-link" href="{{url_for('editorial_new')}}">Cargar Editorial</a>
                                <a class="btn btn-link" href="{{url_for('genero_new')}}">Cargar Genero</a>
                                {% endif %}
                            
                            <br>
                                <h3 class="panel-title">Libros</h3>
                        </div>
                        <br>                        
                        <form class="form-inline" action="{{ url_for('book_menu', type='search_by') }}" method="POST" class="navbar-form navbar-left">
                            <div class="form-group">
                                <div class="input-field first-wrap">
                                    <input type="text" required class="form-control" name="nombre" placeholder="Buscar por">                                                        
                                </div>
                                <div class="form-group">
                                    <div class="form-control">
                                    <select required name="busqueda" class="form-control">
                                        <option class ="form-control" value="titulo">Titulo</option>
                                        <option class ="form-control" value="editorial_id">Editorial</option>
                                        <option class ="form-control" value="autor_id">Autor</option>
                                        <option class ="form-control" value="genero_id">Genero</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default">Buscar</button>
                        </form>
                        <button href="{{url_for('book_menu', type='historial')}}"></button>
                        <br>
                        <br>
                        {% block tabla %}
                        <table class="table table-hover" id="dev-table" >
                            <thead>
                            <tr>
                                <th>       </th>
                                <th>ISBN</th>
                                <th>titulo</th>
                                <th>Autor</th>                                
                                <th>                     </th>
                                
                                <th>                     </th>                                                                                            
                                {% if adm %}
                                <th>                     </th>
                                <th>                     </th>            
                                {% endif %}
                                
                            </tr>
                            </thead>
                            <tbody>
                            
                            {% for book in books[i*pag:(i+1)*pag] %}
                            <tr>
                                <td>  </td>
                                <td>{{ book.isbn}}</td>
                                <td><spoiler>{{ book.titulo}}</spoiler></td>
                                <td>{{ book.autor_id}}</td>
                                <td>
                                    {% if canReadBook[books.index(book)] %}
                                        <a class="btn btn-link" href="{{url_for('book_open', isbn = book.isbn)}}">Abrir Libro</a>  
                                    
                                    {% endif %}
                                    {% if hasChapters[books.index(book)] %}
                                        <a class="btn btn-link" href="{{url_for('book_cap_menu', isbn = book.isbn)}}">Abrir Capitulos</a>    
                                    {% endif %}
                                </td>
                                {% if adm %}
                                    <td><a href ="{{ url_for('book_meta_edit', isbn = book.isbn)}}">Editar</a>
                                    <a href ="{{ url_for('book_meta_remove', isbn = book.isbn)}}">Eliminar Meta</a></td>
                                    <td><a class="btn btn-link" href="{{url_for('book_new', isbn = book.isbn)}}">Cargar Libro</a>
                                    <a class="btn btn-link" href="{{url_for('book_date_menu', isbn = book.isbn)}}">Modificar Disponibilidad</a>
                                    <a class="btn btn-link" href="{{url_for('book_new_chapter', isbn = book.isbn)}}">Cargar Capitulo</a></td>
                                {% endif %}
                                
                            </tr>
                            {% endfor %}
                            </tbody>
    
                        </table>
                        {% endblock %}
                        <br>
                    </div>
                </div>
            </div>
            </div>
                <div class="center">
                            <div class="wrapper">
                                    <ul class="pagination">
                                            <li class="page-item"><a class="page-link" href="{{ url_for('book_menu', i=i-1 )}}">Previous</a></li>
                                            <li class="page-item"><a class="page-link" href="{{ url_for('book_menu', i=i+1 )}}">Next</a></li>
                                    </ul>
                            </div></div>
    
{% endblock %}