{% extends "books/bookBase.html"%}

{% block title %}
    <title>Modificar Fecha</title>
{% endblock %}

{% block navbar %}
    <header class="masthead mb-auto">
        <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/usuarios">Usuarios</a>
                <a class="nav-link active" href="/usuarios/mostrar/{{user_id}}">Ver mi perfil</a>
                {% if adm %}
                    <a class="nav-link" href="/configuracion">Configuracion</a>
                {% endif %}
                    <a class="nav-link" href="/cerrar_sesion">Cerrar Sesion</a>
            </nav>
        </div>
    </header>

{% endblock %}


{% block main %}

    
    <h4 class="card-title mt-3 text-center">Modificando fecha total</h4>
    <br>
    <h4 class="card-title mt-3 text-center">Con ISBN {{isbn}}</h4>
                <p class="text-center">Bookflix</p>
                <p class="divider-text">
                </p>
                <form action="{{ url_for('book_date_mod_book', isbn=isbn) }}" onsubmit="return validate();" method="POST" >                                
                    
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input name="available_from" class="form-control" placeholder="Fecha de Disponobilidad" type="date" value="{{available_from}}">
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input name="available_to" class="form-control" placeholder="Vencimiento (optativo)" type="date" value="{{available_to}}">
                    </div> <!-- form-group// -->                       
                                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-light btn-block"> Modificar fecha  </button>
                    </div> <!-- form-group// -->
                </form>

{% endblock %}