{% extends "books/bookBase.html"%}

{% block title %}
    <title>Nuevo Libro</title>
{% endblock %}

{% block navbar %}
    <header class="masthead mb-auto">
        <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/usuarios">Usuarios</a>
                <a class="nav-link active" href="/usuarios/mostrar/{{user_id}}">Ver mi perfil</a>
                {% if adm %}
                <a class="nav-link" href="/configuracion">Configuracion</a>
                {% endif %}
                <a class="nav-link" href="/cerrar_sesion">Cerrar Sesion</a>
            </nav>
        </div>
    </header>

{% endblock %}


{% block main %}

    <h3>Cargar metadatos</h3>
    <h4 class="card-title mt-3 text-center">Ingrese los datos</h4>
                <p class="text-center">Bookflix</p>
                <p class="divider-text">
                </p>
                <form action="{{ url_for('book_load_meta') }}" method="POST" enctype="multipart/form-data">            
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            <input required name="isbn" class="form-control" placeholder="isbn" type="text">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input required name="titulo" class="form-control" placeholder="titulo"
                                       type="text">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input required name="autor" class="form-control" placeholder="autor/es" type="text" list="autores">
                                <datalist id="autores">
                                    {% for autor in autores %}
                                        <option value="{{autor}}">                                    
                                    {% endfor %}
                                </datalist>
                        </div>
                        <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <textarea required name="sinopsis" class="form-control" placeholder="Sinopsis" ></textarea>                                
                        </div> <!-- form-group// -->                                                
                        <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input required name="genero" class="form-control" placeholder="Genero" type="text" list="generos">
                                <datalist id="generos">
                                    {% for genero in generos %}
                                        <option value="{{genero}}">                                    
                                    {% endfor %}
                                </datalist>
                        </div>
                        
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input required name="editorial" class="form-control" placeholder="editorial" type="text" list="editoriales">
                            <datalist id="editoriales">
                                {% for editorial in editoriales %}
                                    <option value="{{editorial}}">                                    
                                {% endfor %}
                            </datalist>
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-light btn-block"> Cargar Metadatos  </button>
                        </div> <!-- form-group// -->
                    </form>

{% endblock %}