<html>
<head>
</head>

<body>
<div>
    <header>
        <h1>Crear Un usuario</h1>
    </header>    
    <p></p>

    <main class="inner cover">
        <form action="{{ url_for('user_resource_create') }}" method="POST">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input required name="email" class="form-control" placeholder="Correo" type="email">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input  required name="username" class="form-control" placeholder="Nombre de usuario" type="text">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input  required name="password" class="form-control" placeholder="Clave" type="password">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input required  name="first_name" class="form-control" placeholder="Nombre" type="text">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input required name="last_name" class="form-control" placeholder="Apellido" type="text">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-light btn-block"> Crear usuario  </button>
            </div> <!-- form-group// -->
        </form>
    </main>
</div>
</body>
<link href="../static/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<link href="../static/css/cover.css" rel="stylesheet">
<link href="../static/css/signup.css" rel="stylesheet">
</html>