{% extends "administracion/homeAdministracion.html" %}

{% block title %}

    <title>Ciclo lectivo</title>

{% endblock %}

{% block main %}
    {% if adm %}
    <h4 class="card-title mt-3 text-center">Asignar ciclo</h4>
        <a href="/administracion">Cancelar</a>
                <p class="divider-text">
                </p>
                <form action="{{url_for('administracion_updateAll', id = idTaller)}}" method="POST">
                        <select required name="semestre">
                            {% for i in range(ciclos | length) %}
                                {% if asigsCiclos[i] %}
                                    <option value="{{ciclos[i].id}}" placeholder="{{ciclos[i].id}}" selected>{{ciclos[i].fecha_ini}} -- {{ciclos[i].fecha_fin}}</option>
                                {% else %}
                                    <option value="{{ciclos[i].id}}" placeholder="{{ciclos[i].id}}" >{{ciclos[i].fecha_ini}} -- {{ciclos[i].fecha_fin}}</option>
                                {% endif %}
                            {% endfor %}
                        </select> 
                        <br>   
                        <table>
                            <thead>
                                <tr>
                                    <th>Estudiantes</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(estudiantes | length)%}
                                    <tr>
                                        {% if asigsEstudiantes[i] %}
                                            <input type="checkbox" name="estudiantesElegidos" value="{{estudiantes[i].id}}" checked>{{estudiantes[i].apellido}}<br>
                                        {% else %}
                                            <input type="checkbox" name="estudiantesElegidos" value="{{estudiantes[i].id}}">{{estudiantes[i].apellido}}<br>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <table>
                            <thead>
                                    <tr>
                                        <th>Docentes</th>
                                    </tr>
                            </thead>
                            <tbody>
                                {% for i in range(docentes | length)%}
                                <tr>
                                    {% if asigsDocentes[i] %}
                                        <input type="checkbox" name="docentesElegidos" value="{{docentes[i].id}}" checked>{{docentes[i].apellido}}<br>
                                    {% else %}
                                        <input type="checkbox" name="docentesElegidos" value="{{docentes[i].id}}">{{docentes[i].apellido}}<br>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <input type="submit" value="Submit">
                </form>
    {% endif %}
{% endblock %}