<!DOCTYPE html>
{% block title %}



{% endblock %}
{% block header %}
<title>Talleres</title>    

{% endblock %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
{% block navbar %}
<header class="masthead mb-auto">
    <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/usuarios">Usuarios</a>
            <a class="nav-link" href="/docentes">Docentes</a>
            <a class="nav-link" href="/estudiantes">Estudiantes</a>
            <a class="nav-link" href="/asistencia">Asistencia</a>
            <a class="nav-link" href="/instrumentos">Instrumentos</a>
            <a class="nav-link active" href="/administracion">Talleres</a>
            <a class="nav-link" href="/administracionCiclos">Ciclos</a>
            {% if adm %}
                <a class="nav-link" href="/configuracion">Configuracion</a>
            {% endif %}
            <a class="nav-link" href="/cerrar_sesion">Cerrar Sesion</a>
        </nav>
    </div>
</header>

{% endblock %}

{% block alert %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <br>
        <ul class=flashes>
            <div class="alert alert-primary" role="alert">{{ messages[-1] }}</div>
        </ul>
    {% endif %}
{% endwith %}
{% endblock %}

{% block main %}
{% if permitIndex %}
<div class="container">
    <div class="row">
        <div class="col-md-20">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Talleres Registrados</h3>
                </div>
                <div style="overflow-x:auto;">
                    <table class="table table-hover" id="dev-table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for taller in talleres[i*pag:(i+1)*pag] %}
                            <tr>
                                <td>{{ taller.nombre }}</td>
                                <td><a href="{{ url_for('administracion_showAll', id = taller.id)}}">Asignar
                                        Ciclos/Estudiantes/Docentes</a></td>
                                <td><a href="{{ url_for('administracion_showHorario', id = taller.id)}}">Asignar Horarios</a></td>
                                <td><a href="{{ url_for('administracion_editHorarios', id = taller.id)}}">Editar Horarios</a></td>
                                

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>


                <div class="wrapper">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="
                                        {{ url_for('administracion_index', i=i-1 )}}">Previous</a></li>
                        <li class="page-item"><a class="page-link"
                                href="{{ url_for('administracion_index', i=i+1 )}}">Next</a></li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/">
<link href="../../static/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<link href="../../static/css/mediaQ.css" rel="stylesheet">
<link href="../../static/css/cover.css" rel="stylesheet">
<script src="../../static/js/tabla.js"></script>

<script src="../../static/js/__code.jquery.com_jquery-1.11.1.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/">

<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">


<link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_index.css') }}">
<!-- Custom styles for this template -->
<link href="../static/css/cover.css" rel="stylesheet">
