{% extends "administracion/homeAdministracion.html" %}

{% block title %}

    <title>Crear Ciclo Lectivo</title>

{% endblock %}

{% block navbar %}
    <header class="masthead mb-auto">
        <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/administracionCiclos">Cancelar</a>
            </nav>
        </div>
    </header>

{% endblock %}

{% block main %}

    <h4 class="card-title mt-3 text-center">Nuevo ciclo lectivo</h4>
                <p class="divider-text">
                </p>
                <form action="{{ url_for('administracion_new') }}" onsubmit="return validate();" method="POST" class="navbar-form navbar-left">
                        <div class="form-group">
                            <input required id="fecha_ini" type="date" class="form-control" name="fecha_ini" placeholder="Fecha de Inicio">
                        </div>
                        <div class="form-group">
                            <input required id="fecha_fin" type="date" class="form-control" name="fecha_fin" placeholder="Fechaa de Fin">
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <select required name="localidad_id" class="form-control">
                                    <option class ="form-control" value="1">Semestre I</option>
                                    <option class ="form-control" value="2">Semestre II</option>
                                </select>
                            </div>
                        </div> <!-- form-group// -->
                        <button type="submit" class="btn btn-default">Aceptar</button>
                    </form>
{% endblock %}



